@import "../../static/scss/public.scss";

.nav {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    z-index: 999;
    .nav-window-control {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: row;
        width: auto;
        height: 15px;
        cursor: pointer;
        -webkit-app-region: no-drag;
        img {
            margin: 0 5px;
            &:hover {
                background-color: rgba(0, 0, 0, 0.3);
            }
        }
    }
}
