.my-popover {
    position: relative;
    display: inline-flex;
}

.my-popover-menu {
    transform: scale(0);
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    &.open {
        transform: scale(1);
    }
}
